#mainContent {
  background-color: rgb(67, 68, 65);
  width: 99%;
  position: fixed;
  height: 80%;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  user-select: none;
}

.large {
  font-size: xx-large;
}

#input {
  width: 99%;
  height: 20%;
  background-color: rgb(161, 89, 255);
  margin: 2px;
}

#output {
  width: 99%;
  height: 10%;
  background-color: rgb(0, 255, 255);
  margin: 2px;
}

.tools {
  width: 99%;
  height: 14%;
  background-color: rgb(26, 29, 27);
  margin: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  width: 24%;
  height: 96%;
  
}

.btnLabel {
  background-color: rgb(22, 22, 22);
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#equal {
  background-color: rgb(255, 255, 255);
  width: 24%;
  height: 96%;
  
}

